.brand-text{
    position: relative;
    top: 10px;
    color: #fff;
}

.upper-textes{
    width: 200px !important;
    position: relative;
    top: 5px;
    color: #fff;
}
.cost-text{
    position: relative;
    left: 50px;
    bottom: 25px;
    font-size: 18px;
}
.shopping-buggy{
    position: relative;
    height: 70px;
    margin-bottom: -30px;
}